* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	text-decoration: none;
}

.header {
	width: 90%;
	margin: auto;
	position: relative;
}

.header::after {
	content: "";
	display: block;
	clear: both;
}

.logo a {
	font-size: 30px;
	font-weight: 600;
	float: left;
	font-family: "Montserrat", sans-serif;
	color: black;
	padding: 15px 0 20px 0;
}

.logo span {
	color: #f8b600;
}

nav {
	width: 100%;
	margin: auto;
	height: 70px;
	position: fixed;
	top: 0;
	background: #ffffff;
	z-index: 1;
}

nav ul {
	float: right;
}

nav ul li {
	padding: 24px;
	display: inline-block;
}

nav ul li a {
	transition: 0.3s;
	color: black;
}

nav ul li a:hover {
	text-decoration: underline #f8b600 3px;
}

.mobile_menu {
	float: right;
	display: none;
	padding: 18px;
}

.mobile_menu:hover {
	cursor: pointer;
}

#check {
	display: none;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: #fff;
	transition: 0.3s;
	z-index: 9999;
}

.sidebar ul li a {
	color: black;
}

.sidebar ul li {
	padding: 24px;
	transition: 0.3s;
	transition-property: bacground-color;
}

.sidebar ul li:hover {
	background-color: #f9f9f9;
}

#check:checked ~ .sidebar {
	left: 0;
}

.container {
	width: 90%;
	margin: auto;
	position: relative;
	padding: 10px 0 0 0;
}

.container::after {
	content: "";
	display: block;
	clear: both;
}

section {
	margin: auto;
	display: flex;
	margin-bottom: 50px;
}

section img {
	width: 60%;
	height: auto;
	border-radius: 5px;
}

.kolom {
	margin-bottom: 50px;
}

.kolom .deskripsi {
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	color: black;
}

p {
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
}
.kolom .btn {
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
}
.btn {
	background-color: #f8b600;
	border: 2px solid #f8b600;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.btn:hover {
	background: white;
	border: 2px solid #f8b600;
	color: #f8b600;
}

h2 {
	font-family: "comic sans ms", sans-serif;
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 20px;
	color: black;
	width: 100%;
	line-height: 50px;
}

main {
	background: #f6f6f6;
}

.about {
	font-size: 30px;
	color: black;
	font-weight: bold;
	font-family: "montserrat", sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

#about {
	margin: auto;
	display: flex;
	margin-bottom: 10px;
}

#about img {
	width: 25%;
	height: auto;
	border-radius: 20px;
	margin: 0px 0 50px 0;
}

.container-card {
	width: 90%;
	margin: auto;
	position: relative;
	display: flex;
	color: #ffffff;
	justify-content: center;
}

.container-card h1 {
	float: left;
	text-align: center;
	font-size: 30px;
	color: black;
	font-weight: bold;
	font-family: "montserrat", sans-serif;
	margin-top: 0;
	margin-bottom: 20px;
}

.card {
	width: 320px;
	border-radius: 25px;
	background-color: #fff;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #f8b600;
	margin: 0 10px;
}

.image-content,
.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 14px;
}
.image-content {
	position: relative;
	row-gap: 5px;
	padding: 25px 0;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #f8b600;
	border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: -40px;
	height: 40px;
	width: 40px;
	background-color: #f8b600;
}
.overlay::after {
	border-radius: 0 25px 0 0;
	background-color: #fff;
}

h1 .aaa {
	color: black;
	font-size: 30px;
	font-weight: bold;
	font-family: "montserrat", sans-serif;
	text-align: center;
}
.card-image {
	position: relative;
	height: 150px;
	width: 150px;
	padding: 3px;
}

.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.name {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	margin-bottom: 10px;
}
.description {
	font-size: 14px;
	color: #707070;
	text-align: center;
}

.card-content .small {
	padding: 10px 15px 10px 15px;
	margin-bottom: 10px;
}
/* mobile */
@media screen and (max-width: 991.98px) {
	.header {
		width: 90%;
	}
	.container {
		width: 90%;
	}
	.mobile_menu {
		display: block;
	}
	nav ul {
		display: none;
	}
	section {
		display: block;
	}
	section img {
		width: 100%;
	}
	#about {
		display: block;
	}
	#about img {
		width: 100%;
	}
	.container-card {
		width: 90%;
		display: block;
	}
	.card {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		margin-left: 0;
	}
}
